@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


.App {
  text-align: center;
  max-height: 400;
  margin:0;
  /* background-color: #dfe3ed; */
}

.Pagetitle {
  font-family: 'Amatic SC';
  font-weight:700;
  font-size: 3.5rem;
  color: #686868;
  margin-bottom: 0;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.App-link {
  color: #61dafb;
}

