.App {
  text-align: center;
  max-height: 400;
  margin:0;
  /* background-color: #dfe3ed; */
}

.Pagetitle {
  color: #686868;
}

.App-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
    z-index: 1; /* integer */


}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}




.App-link {
  color: #61dafb;
}

