@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


/* .App {
  text-align: center;
  max-height: 400;
  margin:0;
 
} */

.App-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
    z-index: 1; 
}

.Pagetitle {
  font-family: 'Amatic SC';
  font-weight:700;
  font-size: 3.5rem;
  color: #6e5d34;
  margin-bottom: 0;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .App-link {

  color: #61dafb;
} */

